{% extends 'base.html' %}
{% load static %}
{% load friends %}
{% block title %}User page{% endblock %}

{% block nav %}
    {% if request.user.is_authenticated and request.user == user_obj %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:change' user_obj.pk %}">Edit</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:password_change'  %}">Change password</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="media">
        {% if user_obj.profile.profile_pic %}
            <img src="{{ user_obj.profile.profile_pic.url }}" class="align-self-start mr-3" width="250" height="auto" alt="user picture">
        {% else %}
            <img src="{% static 'no_avatar.jpg' %}" class="align-self-start mr-3" width="250" height="auto" alt="user picture">
        {% endif %}
        <div class="media-body">
        <h4 class="mt-0 mb-3">Page of {{ user_obj.get_first_name|default:user_obj.username }}</h4>
        <p>Username: {{ user_obj.username }}</p>
        <p>Name: </p>
        <p>Last name: </p>
        {% if user.is_authenticated and user != user_obj %}
            {% with user_obj|is_friend:user as is_friend %}
                <a class="{% if is_friend %}hidden{% endif %} add-friend btn btn-success btn-sm mt-3" href="{% url 'api:addfriend' user_obj.pk %}">Add friend</a>
                <a class="{% if not is_friend %}hidden{% endif %} un-friend btn btn-success btn-sm mt-3" href="{% url 'api:unfriend' user_obj.pk %}">Unfriend</a>
            {% endwith %}
            <a class="btn btn-info btn-sm mt-3 ml-3" href="{% url 'webapp:message_create' user_obj.pk %}">Send message</a>
        {% endif %}
        </div>
    </div>
    <hr>
    <h5 class="my-3">{{ user_obj.username }}'s friends:</h5>
    {% if user_obj.friends.all %}
        {% for friend in user_obj.friends.all %}
            {% include 'partial/user_card.html' with user_obj=friend.target_user %}
        {% endfor %}
        {% else %}
        <p>This user has no friends yet :/</p>
    {% endif %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/friends.js' %}"></script>
{% endblock %}
