{% load staticfiles %}
{% load friends %}
<div class="card bg-light mb-5">
    <div class="card-body">
    <div class="media">
        {% if user_obj.profile.profile_pic %}
            <img src="{{ user_obj.profile.profile_pic.url }}" class="align-self-start mr-3" width="200" height="auto" alt="photo">
        {% else %}
            <img src="{% static 'no_avatar.jpg' %}" class="align-self-start mr-3" width="200" height="auto" alt="photo">
        {% endif %}
        <div class="media-body">
            <p><b>User:</b> <a href="{% url 'accounts:detail' user_obj.pk %}">{{ user_obj.username }}</a> <br>
            <p><b>Name:</b> {{ user_obj.first_name }}<br>
            <p><b>Last name:</b> {{ user_obj.last_name }}<br>
            {% if user.is_authenticated and user != user_obj %}
                {% with user_obj|is_friend:user as is_friend %}
                    <a class="{% if is_friend %}hidden{% endif %} add-friend btn btn-success btn-sm mt-3" href="{% url 'api:addfriend' user_obj.pk %}">Add friend</a>
                    <a class="{% if not is_friend %}hidden{% endif %} un-friend btn btn-success btn-sm mt-3" href="{% url 'api:unfriend' user_obj.pk %}">Unfriend</a>
                {% endwith %}
            {% endif %}
        </div>
    </div>
    {% if user.is_authenticated and user != user_obj %}
        <a class="btn btn-info btn-sm mt-3" href="{% url 'webapp:message_create' user_obj.pk %}">Send message</a>
    {% endif %}
    </div>
</div>